{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}
{% block main_body%}
  <div class="text-center text-bg-white" style="height:100%; min-height: 100vh; justify-content: space-between; display:flex; flex-direction: column;">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
      <!--HEADER-->
      {% include "htmlparts/header.html" %}
      <main class="mx-auto" id="main-block">
        <div style="width: 100%;">
          {% block body %}
          {% endblock %}
        </div>
      </main>
    </div>
    <!--FOOTER-->
    {% include 'htmlparts/footer.html' %}
  </div>
{% endblock%}

