{% extends "store/base.html" %}

{% block title %}
  Кошик
{% endblock %}

{% block body %}
<style>

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 40
  }
  table, th, td {
    border: 1px solid black;
    border-color: #96D4D4;
  }
  .resp_img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  .input_quantity{
    width: 100%;
    max-width: 7em;
  }
</style>
  <h1>Ваш кошик товарів</h1>
 <div class="table-responsive">
  <table class="table table-hover align-middle">
    <thead>
      <tr>
        <th>Зображення</th>
        <th>Продукт</th>
        <th>Кількість</th>
        <th>Видалити</th>
        <th>Ціна</th>
        <th>Сума</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>

              <a href="{% url 'store:product_detail' product.category.name product.id %}">
                <img class="resp_img" src="{{ product.get_image }}" alt="" />
              </a>

            </td>
            <td>{{ product.name }}</td>
            <td>
              <form  id="cart_update_form_{{product.id}}" class="cart_update_form" action="{% url 'cart:cart_add' product.id %}" method="post">
                  {{ item.update_quantity_form }}
                  {% csrf_token %}
              </form>
            </td>
            <td><button id="cart_remove_{{product.id}}" class="remove_btn" data-url="{% url 'cart:cart_remove' product.id %}">
              <span class="material-symbols-outlined">delete</span>
            </button>
            </td>
            <td>{{ item.price }} грн</td>
            <td>{{ item.total_price }} грн</td>
          </tr>
        {% endwith %}
      {% endfor %}
        <tr class="total">
          <td>Повна сума</td>
          <td colspan="4"></td>
          <td class="num" id="cart_total_price">{{ cart.get_total_price }} грн</td>
        </tr>
    </tbody>
  </table>
   </div>
  <p class="text-right">
    <a href="{% url 'store:index' %}" class="btn"><button type="button" class="btn btn-secondary">Продовжити покупки</button></a>
    <a href="#"> <button type="button" class="btn btn-success">Оформити замовлення</button></a>
  </p>
{% endblock %}