{% extends "cart/base_cart.html" %}

{% block title %}
  Кошик
{% endblock %}

{% block meta %}
  {% include 'store/meta_tags.html' with item=company %}
{% endblock %}

{% block body %}
<h1>Ваш кошик товарів</h1>
{% for item in cart %}
{% with product=item.product %}
<div class="card" style="max-height:202px">
  <div class="row g-0 align-items-center">
    <div class="col-sm-4 col-3">
      <a href="{% url 'store:product_detail' product.category.slug product.slug %}">
        <img src="{{ product.get_image }}"
             class="resp_img" alt="{{product.name}}"/>
      </a>
    </div>
    <div class="col-sm-8 col-9">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5 col-12">
            <a class="a-custom" href="{% url 'store:product_detail' product.category.slug product.slug %}">
              <span>{{ product.name }} | {{item.packaging}}{{item.unit}}</span>
            </a>
          </div>
          <div class="col-sm-3 col-12">
            <span class="card_price">{{ item.price }} грн</span>
          </div>
          <div class="col-sm-4 col-12">
            <form id="cart_update_for_{{product.id}}_{{item.packaging}}" data-pack={{item.packaging}} class="cart_update_form" action="{% url 'cart:cart_add' product.slug %}" method="post">
              <div class="row">
                <div class="col-sm-9 col-8">
                  {{ item.update_quantity_form }}
                  {% csrf_token %}
                </div>
                <div class="col-sm-3 col-4">
                  <span id="cart_remove_{{product.id}}" class="material-symbols-outlined remove_btn"
                        data-url="{% url 'cart:cart_remove' product.slug %}">
                    delete
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endfor %}

<div class="row align-items-center mt-3">
  <div class="col-6">
    <h5>Повна сума</h5>
  </div>
  <div class="col-6">
    <h5 id="cart_total_price">{{ cart.get_total_price }} грн</h5>
  </div>
    </div>
<div class="row align-items-center mt-3">
  <div class="col-6">
    <h5>Ваша знижка</h5>
  </div>
  <div class="col-6">
    <h5 id="discount">{{ discount }} грн</h5>
  </div>
</div>
<div class="row align-items-center mt-3">
  <div class="col-6">
    <h5>Сума зі знижкою</h5>
  </div>
  <div class="col-6">
    <h5 id="discount_total_price">{{ discount_total_price }} грн</h5>
  </div>
</div>


</div>
<p class="text-right">
  <a href="{% url 'store:index' %}" class="btn btn-secondary my-1" type="button">Продовжити покупки</a>
  {% if cart.cart %}
  <a href="{% url 'store:checkout' %}" type="button" id="btn-checkout" data-index="{% url 'store:index'%}" class="btn btn-success my-1">Оформити замовлення</a>
  {% else %}
  <a type="button" class="btn btn-success a-disabled my-1">Оформити замовлення</a>
  {% endif %}
</p> <!--TODO Check if has products in cart-->
{% endblock %}