<section class="small-screen-view" style="background-color: #eee;">
  <div class="container ">
    <div id="myCarousel" class="carousel carousel-dark slide">
      <div class="carousel-inner py-1">
        {% for category in categories %}
        {% if forloop.first %}
        <div class="carousel-item active">
        {% else %}
        <div class="carousel-item">
        {% endif %}
          <div class="card w-100">
            <a class="a-custom" href="{% url 'store:category_detail' category.slug %}">
              <img src="{{ category.get_image}}"
                   class="card-img-top mx-auto" alt="{{category.name}}" style="height:250px; object-fit: contain;"/>
            <div class="card-body" ><span class="card-text fw-bold">{{ category.name }}</span></div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
