body {
  height: 100%;
  min-height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#main-block {
    margin-top: 100px;
}

.a-custom:link {
  color: black;
  text-decoration: none;
}

.a-custom:visited {
  color: black;
  text-decoration: none;
}

.a-custom:hover {
  color: black;
  text-decoration: none;
}

.a-custom:active {
  color: black;
  text-decoration: underline;
}