{% extends 'store/base.html' %}

{% block title%}{{ category_name }}{% endblock%}

{% block breadcrumbs %}
  &rsaquo; <a href="{% url 'store:category_detail' category_name %}">{{ category_name }}</a>
{% endblock %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% for product_row in product_chunks%}
    <div class="row">
      {% for product in product_row %}
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <!--<div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
              <p class="text-white mb-0 small">x4</p>
            </div>-->
          </div>
          <a href="{% url 'store:product_detail' category_name product.id %}"> <img src="{{ product.image.url}}"
                                                                      class="card-img-top" alt="{{product.name}}" /></a>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <!--<p class="small"><a href="#!" class="text-muted">Laptops</a></p>-->
                <h5 class="mb0"><a href="{% url 'store:product_detail' category_name product.id %}">{{ product.name }}</a></h5>
                <h5 class="mb0">{{ product.price }} грн</h5>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</section>

{% endblock %}