{% extends 'store/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block meta %}
  {% include 'store/meta_tags.html' with item=category %}
{% endblock %}

{% block breadcrumbs %}
  {% for parent in category.parents %}
    &rsaquo; <a href="{% url 'store:category_detail' parent.slug %}">{{ parent.name }}</a>
  {% endfor %}
  &rsaquo; <a href="{% url 'store:category_detail' category.slug %}">{{ category.name }}</a>
{% endblock %}

{% block body %}
<section style="background-color: #eee;">
  <div class="container py-5">
    {% if has_subcategories %}
      {% include 'store/show_categories.html' %}
    {% else %}
      {% for product_row in product_chunks%}
      <div class="row">
        {% for product in product_row %}
          <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            <a href="{% url 'store:product_detail' category.slug product.slug %}">
            <div class="card">
              <div class="d-flex justify-content-between p-3">
              </div>
              <div class="ratio ratio-4x3" style="object-fit: contain;">
                <img src="{{ product.get_image}}"
                  class="card-img-top" alt="{{product.name}}" style="object-fit: contain;"/>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                  <!--<p class="small"><a href="#!" class="text-muted">Laptops</a></p>-->
                  <h5 class="mb0">{{ product.name }}</h5>
                  <h5 class="mb0">{{ product.price }} грн</h5>
                </div>

              </div>
            </div>
            </a>
          </div>
       {% endfor %}
      </div>
    {% endfor %}
  {%endif%}
  </div>
</section>

{% endblock %}