{% extends 'store/base.html' %}

{% block title%}Home page{% endblock%}

{% block body %}
<!--<div class="container">
  <ul>
      {% for category in category_list %}
        <li>
            <h2><a href="{% url 'store:category_detail' category.name %}">{{ category.name }}</a></h2>
        </li>
      {% endfor %}
  </ul>
</div>-->
<section style="background-color: #eee;">
  <div class="container py-5">
    {% for category_row in category_chunks%}
    <div class="row">
      {% for category in category_row %}
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <!--<div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Combo Offer</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px;">
              <p class="text-white mb-0 small">x4</p>
            </div>
          </div>-->
          <img src="{{ category.image.url}}"
            class="card-img-top" alt="{{category.name}}" />
          <div class="card-body">
            <!--<div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
              <p class="small text-danger"><s>$1099</s></p>
            </div>-->

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0"><a href="{% url 'store:category_detail' category.name %}">{{ category.name }}</a></h5>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</section>
{% endblock %}