<div class="form-check text-start">
  <input class="form-check-input" type="radio" name="radioPackaging_{{product.slug}}"
         data-mult={{product.packaging}} data-price={{product.price}} data-slug="{{product.slug}}"
         data-unit={{product.unit_of_measurement}} id="radioPackagingDefault_{{product.slug}}" checked>
  <label class="form-check-label" for="radioPackagingDefault_{{product.slug}}">
    {{product.packaging}} {{product.unit_of_measurement}}
  </label>
</div>
{% for pack in product.alt_packaging.all %}
  <div class="form-check text-start">
    <input class="form-check-input" type="radio" name="radioPackaging_{{product.slug}}"
           data-mult={{pack.packaging}} data-price={{pack.price}} data-slug="{{product.slug}}"
           data-unit={{product.unit_of_measurement}} id="{{pack.pk}}_{{product.slug}}">
    <label class="form-check-label" for="{{pack.pk}}_{{product.slug}}">
      {% if pack.pretty_name %}
        {{pack.pretty_name}}
      {% else %}
        {{pack.packaging}} {{product.unit_of_measurement}}
      {% endif %}
    </label>
  </div>
{% endfor %}