{% extends 'store/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block meta %}
  {% include 'store/meta_tags.html' with item=product %}
{% endblock %}

{% block breadcrumbs %}
  {% for parent in product.category.parents %}
    &rsaquo; <a href="{% url 'store:category_detail' parent.slug %}">{{ parent.name }}</a>
  {% endfor %}
  &rsaquo; <a href="{% url 'store:category_detail' product.category.slug %}">{{ product.category.name }}</a>
  &rsaquo; <a href="{% url 'store:product_detail' product.category.slug product.slug %}">{{ product.name }}</a>
{% endblock %}

{% block body %}
<style>
    .resp_img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
    .input_quantity{
    width: 100%;
    max-width: 7em;
  }
</style>
<div class="card" style="border: none">
    <div class="row g-0">
    <h3>{{ product.name }}</h3>
    <div class="col-lg-6">
    <img class="resp_img" src="{{ product.get_image }}" align="left"/>
    </div>
    <div class="col-lg-6">
    <h3>{{ product.price }} грн</h3>
        <form id="add_to_cart_form_{{product.id}}" class="cart_add_form" action="{% url 'cart:cart_add' product.slug %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Додати в кошик">
</form>

    {% if wholesale_prices %}
    <div style="margin-top: 10px">
        <h5>Оптові ціни:</h5>
<!--        <ul>-->
            {% for price in wholesale_prices %}
<!--                <li>-->
                    <h6> від {{price.from_quantity}} {{price.price}} грн</h6>
<!--                </li>-->
            {% endfor %}
<!--        </ul>-->
        </div>
    {% endif %}
        <ul class="list-group list-group">
            {% for attr in attrs %}
      <li class="list-group-item">  <h6>{{ attr }} </h6></li>

        {% endfor %}

        </ul>
    </div>
    </div>
</div>
  <div>
    <h4>Опис</h4>
    <h6>{{ product.description }}</h6>
  </div>


    <!--<button type="button" class="btn btn-secondary">Add to Cart</button>-->

{% endblock %}