{% extends 'store/base.html' %}

{% block title%}{{ product.name }}{% endblock%}

{% block breadcrumbs %}
  &rsaquo; <a href="{% url 'store:category_detail' product.category.name %}">{{ product.category.name }}</a>
  &rsaquo; <a href="{% url 'store:product_detail' product.category.name product.pk %}">{{ product.name }}</a>
{% endblock %}

{% block body %}
<div class="container">
  <h2>{{ product.name }}</h2>
  <img src="{{ product.get_image }}" align="left"/>
  <h2>{{ product.price }} грн</h2>
  <ul>
      {% for attr in attrs %}
        <li>
            <h3>{{ attr }} </h3>
        </li>
      {% endfor %}
  </ul>
  <h2>Опис</h2>
  <h3>{{ product.description }}</h3>
</div>
<form action="{% url 'cart:CartAdd' product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Додати в кошик">
</form>
    <!--<button type="button" class="btn btn-secondary">Add to Cart</button>-->

{% endblock %}