<section style="background-color: #eee;">
  <div class="container">
    {% for category_row in category_chunks%}
    <div class="row">
      {% for category in category_row %}
      <div class="col-12 col-lg-4 my-1 d-flex align-items-stretch">
        <div class="card w-100">
          <a href="{% url 'store:category_detail' category.slug %}">
            <img src="{{ category.get_image}}"
                 class="card-img-top" alt="{{category.name}}" style="height:250px; object-fit: contain;"/>
            <div class="card-body" >
              <span class="card-text fw-bold">{{ category.name }}</span>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</section>